body{
    /* background-color: white; */
    display: flex;
    flex-direction: row;

}

/* Placeholder for nav*/
#navbarHolder {
    /* border: dashed black 1px; */
    width: 100%;
    height: 15vh;
}

.navbar {
    /*an absolute dirty hack*/
    margin: 0%;
    clip-path: inset(0% 0% 0% 20%);
}

.navbar > a.logo {
    display: none;
}

/* Placeholder for sidebar*/
aside {
    /* border: dashed black 1px; */
    height: 100vh;
    width: 20%;

}

main {
    width: 80vw;
    position: relative;

}

#tableSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;


}


#divTable{
    position: relative;
    /* border: solid black 3px; */
    height: 85%;
    width: 90%;
    padding: 5px;

}
