
a.navbarLinks{
    text-decoration: none;
}
a.navbarLinks:hover,
a.navbarLinks:active,
a.navbarLinks:active::before, 
a.navbarLinks:focus{
    font-style: bold!important;
    background-color: #11ADC4!important;
    border-radius: 50px!important;
    color: white !important;

}



.logo:hover{
    background-color: white;
}

.logout:hover {
    background-color: #7B7F91;
    border-radius: 50em;

}
