
a.navbarLinks{
    text-decoration: none;
}
a.navbarLinks:hover,
a.navbarLinks:active,
a.navbarLinks:focus{
    font-style: bold;
    background-color: #11ADC4;
    border-radius: 50px;
    color:white;

}

.logo:hover{
    background-color: white;
}

