body{
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Placeholder for nav*/
nav {
    border: dashed black 1px;
    width: 100%;
    height: 15vh;
}

main {
    width: 100%;
    position: relative;
}


