
#incidencias{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}

#incidencias > p {
    margin: 0px;
}
#incidencias > div {
    width: 70%;
    display: flex;
    justify-content: center;

    flex-direction: row;
}
#incidencias > div > p {
    margin:0px 3% 0% 3%;
    /* color: #2a9fd6 ; */
    color: #11ADC4;

}

#menuSection a{

    /* color: #2a9fd6 ; */
    color: #11ADC4;

}
.icon{
    font-size:70px;

}
#menuSection p{
    font-size: 20px;
}

