#insideRecursos {
    display: flex;
    justify-content: center;
    width: 100%;
}

#recursosAfectats {
    margin-top: 2%;
    width : 90%;
}

#mapa-mapbox{
    width: 100%;
    height: 300px;
}

.textResources{
    padding-top: 2em;
}

#recursosAfectatsMultiples{
    margin-top: 2%;
    width: 60%;
    display: flex;
    justify-content: center;
    margin: auto;
    text-align: center;
}

#recursosContainer{
    display: flex;
    margin: auto;
    text-align: center;
}
