#app{
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#indexSBMain{
    width: 70vw;
}


 #tableNav{
    position: relative;
    left: 1%;
    bottom: 1%;
}

